<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @user %>
    <div class="rounded-lg py-3 px-5 bg-gray-100 font-extrabold flex flex-col m-1 p-3">
      <p>
      Username : <%= current_user.username %>
      </p>
      <p>
      Email : <%= current_user.email %>
      </p>
    </div>
    <h1 class="font-bold">
      Your Events : 
    </h1>
    <% @created_events.each do |event| %>
      <p><%= link_to event.title, event,  class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium m-2" %></p>
      <!-- Add more event details here -->
    <% end %>
    <!-- app/views/users/show.html.erb -->
    <h2>Upcoming Events</h2>
    <ul>
      <% @user.attended_events.upcoming.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>

    <h2>Past Events</h2>
    <ul>
      <% @user.attended_events.past.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>

    <!-- app/views/users/show.html.erb -->
    <h2>Attended Events</h2>
    <ul>
      <% @user.attended_events.each do |event| %>
        <li><%= event.title %></li>
      <% end %>
    </ul>
    <%= link_to "Edit this user", edit_user_path(@user), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this user", user_path(@user), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to users", users_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
