<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @event %>
    <!-- app/views/events/show.html.erb -->
    <h2>Attendees</h2>
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= attendee.username %></li>
      <% end %>
    </ul>


    <%= link_to "Edit this event", edit_event_path(@event), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this event", event_path(@event), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to events", events_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= form_with url: event_attendances_path(@event), method: :post do |form| %>
      <%= form.submit "Attend this Event" %>
    <% end %>
    <% if @event.attendees.include?(current_user) && @event.time > Time.now %>
      <%= button_to 'Unattend this Event', event_attendance_path(@event, current_user), method: :delete %>
    <% end %>
  </div>
</div>
